services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    environment:
      - DB_NAME=postgres
      - DB_HOST=db
      - DB_PORT=5432
    ports:
      - 8080:8080
    env_file:
      - .env
    depends_on:
      - db
    secrets:
      - db_user
      - db_password

  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER_FILE=/run/secrets/db_user
      - POSTGRES_PASSWORD_FILE=/run/secrets/db_password
      - POSTGRES_DB=postgres
    volumes:
      - ./data:/var/lib/postgresql/data
    secrets:
      - db_user
      - db_password


secrets:
  db_user:
    file: ./.secrets/db_user.txt
  db_password:
    file: ./.secrets/db_password.txt
